$vertical-line: white;
$border-green: rgb(36, 93, 93);
$text-green: rgb(48, 173, 156);
$box-background:  rgba(255,255,255, .6);
$opaque-white: rgba(255,255,255, .05);
$first-box-height: 295px;
$second-box-height: 230px;
$third-box-height: $first-box-height + $second-box-height + 26px;
$column-height: 593px;
$border-blue: #1c2846;
$border-blue-2: rgba(88, 135, 218, 1);


.header {
  margin: 0;

  .logo {
    width: 290px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .icon {
        font-size: 35px;
    position: absolute;
    right: 35px;
    top: 40px;

    &:hover {
      cursor: pointer;
    }
  }

  .title {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 65px;
    width: 100%;
    font-size: 37px;
  }
}

.wrapper {
  margin: 30px 15px 15px;
}
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    position: absolute;
    left: 5%;
  }

  .info {
width: 17px;
    float: right;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    flex: 1;
  }

  .column-one {
    height: $column-height;
  }

  .column-two {
    border-left: 3px solid rgb(255, 255, 255);

    height: $column-height;
  }

  .column-three {
    border-left: 3px solid white;
    height: $column-height;
  }
  /** the boxes named with a number**/

    .first {
       height: $first-box-height;

    }

    .second {
       height: $second-box-height;

      margin-bottom: 20px;
    }

  .third {
       height: $third-box-height;

      margin-bottom: 20px;
    }

  .fourth {
       height:$first-box-height;

      margin-bottom: 20px;
    }

  .full-width-subheading {
    display:block;
    width: 100%;
    text-align:center;
    .hr {
      width: 92%;
      margin-bottom: 20px;

    }
  }

  .full-width-item {
    display: block;
    width: 92%;
    text-align: left;
    margin-left: 4%;
    overflow: hidden;


     .hr {
     width: 44%;
    margin-bottom: 8px;
    margin-left: 0;
    }

    .full-width-hr{
      width: 100%;
    margin-left: 0;
    }
  }



  /** common stylings for box **/
  .box {
    display:block;
    border-style:solid;
    border-color: $border-green;
    border-radius:7px;
    border-width: 1px;
    padding-top: 25px;
    margin: 13px;
    overflow: hidden;
    position: relative;
    background-color:  $opaque-white;

    &.top {
      margin-top:0;
    }

   .subheading {
    margin-top: 37px;
    margin-bottom: 0;
    font-size: 16px;
    color: $text-green;
    display:inline;
  }

    .grey {
 @extend .subheading;
color:grey;
      font-size: 13px;
    }

  .hr {
    margin-top:2px;
  }

  .value {
   font-size: 26px;
    font-weight: 700;
    display:block;
    margin-bottom: 30px;
  }
  }

  .left {
    height: 100%;
    width: 44%;
    position: absolute;
    left: 4%;
    //top: 0;
  }

  .right {
    height: 100%;
    width: 44%;
    position: absolute;
    right: 4%;
  }

  .single-row-left {
    width: 44%;
    float: left;
    margin-left: 4%;
  }

  .single-row-right {
    width: 44%;
    float: right;
    margin-right: 4%;
  }


.footer {
  @extend .box;
 position: absolute;
    border-color: #1c2846;
    top: 720px;
    width: 85%;
    left: 5%;
    text-align: center;
    paddimng: auto;
    padding: 15px 30px;
}